# Created by https://www.toptal.com/developers/gitignore/api/dotfilessh
# Edit at https://www.toptal.com/developers/gitignore?templates=dotfilessh

### DotfilesSh ###
local-patch
patched-src

# End of https://www.toptal.com/developers/gitignore/api/dotfilessh

.bash_credentials
